{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<br><br><br>
<center>
    <h1>Review your information:</h1>
    <strong>Name: </strong>{{ your_name }}<br/>
    <strong>Profissional: </strong>{{ pro_name }}<br/>
    <strong>email: </strong>{{ email }}<br/>
    <strong>Date: </strong>{{ date }}<br/>
    <strong>Time: </strong>{{ time }}<br/>
    <br/><br/><br/>
    <strong>Note: </strong> We are waiting for you here! :)
    <br/><br/><br/>
</center>
<br><br><br>
{% endblock %}